{% extends 'base.html' %}

{% block content %}

<style>
    .myDiv {
    color: white;
	background: #0e3a04;
	height: 616px;
	width: 650px;
	border-radius: 40px;
	text-align: center;
	font-size: 100px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: bold;
	text-decoration: none;	
	padding-top: 300px; 
    float: right;
    }
    .myDiv2 {
    color: white;
	background: #640b03;
	height: 616px;
	width: 650px;
	border-radius: 40px;
	text-align: center;
	font-size: 100px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: bold;
	text-decoration: none;	
	padding-top: 300px; 
    float: left;
    }


</style>

<div class="myDiv">
    <h2><a href="/establishments/Katipunan"><b>KATIPUNAN</b></a></h2>
</div>

<div class="myDiv2">
    <h2><a href="/establishments/Maginhawa"><b>MAGINHAWA</b></a></h2>
</div>

{% endblock %}